
<div class="container">
  <div class="row">

    <h1>Welcome to the Spanish Inquisition<h1>
      <img><%= image_tag "image1.jpg" %></img>
      <h2><%= link_to "Would you like to join?", guard_path(:name => " ") %><h2>
        <h3>Sign your life away below<h3>

        <%= form_tag(namer_path, method: "get") do %>
        <%= label_tag(:name, "Name:") %>
        <%= text_field_tag(:name) %>
        <%= submit_tag("Submit") %>
        <% end %>

  </div>
</div>
